h1 
{
    text-align: center;
    padding: 70px;
}
h2 
{
    text-align: center;
    padding: 20px;
}
h3
{
    text-align: center;
    padding: 10px;
}
.btn1
{
    text-align: center;
    padding: 10px;
}